<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/spring-demo-th/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="/spring-demo-th/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        <div th:replace="fragment/header :: menu"/>
        <div class="container">
            <div class="well">
                <h1>Spring Boot Web Thymeleaf Example</h1>
            </div>
	    <form name="formTestEncode1" action="test-encode" method="POST" accept-charset="ISO-8859-1">
		<div class="form-group">
		    <label for="txt">Texto com qualquer encode para testar com ISO-8859-1</label>
		    <textarea id="txt1" class="form-control" cols="80" rows="5" name="txtarea"></textarea>
		</div>
		<div class="form-group">
		    <input type="submit" value="Testar"/>
		</div>
	    </form>
	    <form name="formTestEncode2" action="test-encode" method="POST" accept-charset="UTF-8">
		<div class="form-group">
		    <label for="txt">Texto com qualquer encode para testar com UTF-8</label>
		    <textarea id="txt2" class="form-control" cols="80" rows="5" name="txtarea"></textarea>
		</div>
		<div class="form-group">
		    <input type="submit" value="Testar"/>
		</div>
	    </form>
	    <div class="row">
		<div class="col-md-12" th:text="${txtarea}">Texto do textarea será carregado aqui com o encode aplicado</div>
	    </div>
        </div>
        <script type="text/javascript" src="/spring-demo-th/webjars/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/spring-demo-th/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
